{%extends 'doctorslayout.html'%}
    {% load static %}

{%block content%}
<!-- End Header -->
    <!-- Start page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>{{patname}}</h1>
                <p><a href="../../login">Home</a> &#8594; <span>{{patname}}</span></p>
            </div>
        </div>
    </div><!-- End page Title Section -->
    <!-- Start Login Section -->
    <div id="login-page" class="layer-stretch">
        <div class="layer-wrapper"> 
            <div class="form-container">
                 <form name="form" method="post" action='/doctors/submit_consult/{{pat_id}}' enctype="multipart/form-data">
                    {% csrf_token %}
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-user-o"></i>
                    <input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z, ]*" id="sample-text-1" value="{{patname}} " name='patname'>
                    <label class="mdl-textfield__label" for="sample-text-1" >Patient Name</label>
                    <span class="mdl-textfield__error">Please Enter Valid Text!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-paper-plane"></i>
                    <textarea class="mdl-textfield__input" rows="5" id="sample-message-1" name="prescribe"></textarea>
                    <label class="mdl-textfield__label" for="sample-message-1">Prescription</label>
                    <span class="mdl-textfield__error">Please Enter Your Query!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-paper-plane"></i>
                    <textarea class="mdl-textfield__input" rows="5" id="sample-message-1" name="tips"></textarea>
                    <label class="mdl-textfield__label" for="sample-message-1">Health Tips & Diets</label>
                    <span class="mdl-textfield__error">Please Enter Your Query!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-calendar-o"></i>
                    <input class="mdl-textfield__input" type="text" id="appointment-date" onfocus="(this.type='date')" onblur="(this.type='text')"  name="date">
                    <label class="mdl-textfield__label" for="appointment-date">Consult Date</label>
                    <span class="mdl-textfield__error">Please Enter Valid Date Number!</span>
                </div>
                <div class="form-submit">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Submit</button>
                </div>
                
            </div>
        </div>
    </div>
{%endblock%}