{%extends 'sidebarform/sidebarlayout.html'%}
    {% load static %}

{%block content%}
    <!-- Start Page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>User Mangement</h1>
                <p><a href="#">Home</a> &#8594; <span>Add Lab Tech</span></p>
            </div>
        </div>
    </div><!-- End Page Title Section -->
    <!-- Start Doctor List Section -->

        <div class="layer-wrapper text-center">
            <div class="row">
                <div class="col-lg-4">
                     <br><br><br><br><br><br>
                        <div class="sub-ttl">User Mangement</div>
                        <a href="{% url 'login:formdoc' %}" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-1.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h3>Add Doctors</h3>
                                
                            </div>
                        </a>
                        <a href="{% url 'login:formpat' %}" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-2.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h3>Add Patients</h3>
                           
                            </div>
                        </a>
                        <a href="#" class="row blog-recent">
                            <div class="col-4 blog-recent-img">
                                <img class="img-responsive img-thumbnail" src="uploads/recent-3.jpg" alt="">
                            </div>
                            <div class="col-8 blog-recent-post">
                                <h3>Add Lab Tech</h3>
                            
                            </div>
                        </a>
                        
                   
                    
                </div>

               <!--Form-->
               <form name="form" method="post" action="{% url 'login:formlab'%}" enctype="multipart/form-data">
                {% csrf_token %}
            <div id="login-page" class="layer-stretch">
                <h2>Add Lab Tech</h2>
        <div class="layer-wrapper"> 
            <div class="form-container">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-user-o"></i>
                    {{form.name}}
                    <label class="mdl-textfield__label" for="sample-text-1">Name<em> *</em></label>
                    <span class="mdl-textfield__error">Please Enter Valid Text!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-envelope-o"></i>
                    {{form.username}}
                    <label class="mdl-textfield__label" for="login-email">User name<em> *</em></label>
                    <span class="mdl-textfield__error">Use Small Cases Without Spaces!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-envelope-o"></i>
                    {{form.email}}
                    <label class="mdl-textfield__label" for="login-email">Email <em> *</em></label>
                    <span class="mdl-textfield__error">Please Enter Valid Email!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-key"></i>
                    {{form.password}}
                    <label class="mdl-textfield__label" for="login-password">Password <em> *</em></label>
                    <span class="mdl-textfield__error">Please Enter Valid Password!</span>
              
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-input-icon">
                    <i class="fa fa-phone"></i>
                    {{form.number}}
                    <label class="mdl-textfield__label" for="sample-number-1">Number</label>
                    <span class="mdl-textfield__error">Please Enter Valid Number!</span>
                </div>
                
                <div class="form-submit">
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect button button-primary">Submit</button>
                </div>
                
            </div>
        </div>
    </div>
</form>
    {%endblock%}