{%extends 'sidebarform/sidebarlayout.html'%}
    {% load static %}

{%block content%}<!-- End Header -->
    <!-- Start Page Title Section -->
    <div class="page-ttl">
        <div class="layer-stretch">
            <div class="page-ttl-container">
                <h1>Doctors</h1>
                
            </div>
        </div>
    </div><!-- End Page Title Section -->
    <!-- Start Doctor List Section -->
    <div id="doctor-page" class="layer-stretch">
        <div class="layer-wrapper text-center">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        {%for x in doc%}
                        <div class="col-md-4">
                            <div class="theme-block">

                                <div class="theme-block-picture doctor-picture-2">
                                    
                                    <img src="{{x.photo.url}}" alt="">
                                    
                                </div>
                                <div class="doctor-name doctor-name-2">
                                    <h4><a>{{x.doctor_name}}</a></h4>
                                </div>
                                <div class="theme-block-hidden">
                                    <div class="doctor-name">
                                        <h4><a>{{x.doctor_name}}</a></h4>
                                    </div>
                                    <div class="doctor-details">
                                        <div class="doctor-specility">
                                            <p> {%if x.specialization == '1'%}
                                        Dermatologist
                                       {%endif%}
                                        {%if x.specialization == '2'%}
                                        cardio
                                       {%endif%}
                                        {%if x.specialization == '3'%}
                                        ENT specialist
                                       {%endif%}
                                       {%if x.specialization == '4'%}
                                        Eye specialist
                                       {%endif%}</p>
                                        </div>
                                        <div class="doctor-details-extra">
                                            <p><i class="fa fa-shield"></i>{{x.mobile}}</p>
                                            <p><i class="fa fa-mortar-board"></i>{{x.email}}</p>
                                            <p><i class="fa fa-trophy"></i>{{x.available_date}}</p>
                                            <p><i class="fa fa-star"></i>{{x.available_from}}</p>
                                            <p><i class="fa fa-star"></i>{{x.available_to}}</p>
                                            <p><i class="fa fa-star"></i><a href="/editdoc/{{x.doctor_user_id}}">Update</a>
                                            <p><a href="/login/deldoc/{{x.doctor_user_id}}">Delete</a></p>                                                
                                        </div>
                                    </div>
                                    <!--<div class="doctor-social">
                                        <ul class="social-list social-list-bordered social-list-rounded">
                                            <li><a href="#" target="_blank" class="fa fa-facebook"></a></li>
                                            <li><a href="#" target="_blank" class="fa fa-twitter"></a></li>
                                            <li><a href="#" target="_blank" class="fa fa-google"></a></li>
                                            <li><a href="#" target="_blank" class="fa fa-instagram"></a></li>
                                            <li><a href="#" target="_blank" class="fa fa-linkedin"></a></li>
                                        </ul>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                        
                    </div>
                    <ul class="theme-pagination">
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">...</a></li>
                        <li><a href="#">10</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div><!-- End Doctor List Section -->
    <!-- Start Department List Section -->
   <!-- End Emergency Section -->
    <!-- Start Make an Appointment Modal -->

    {%endblock%}